<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Rancho&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="{{ asset('js/swiper-init.js') }}"></script>
    {% endblock %}
</head>
<body>
    {% for label, messages in app.flashes %}
        <div class="flash-{{ label }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    {% block header %}
        {% include 'default/header/header.html.twig' %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
        {% include 'default/footer/footer.html.twig' %}
    {% endblock %}
</body>
</html>